h1 {
    font-family: 'Bree Serif', serif;
}

p {
    font-family: 'Nanum Myeongjo', serif;
}

.container-fluid {
    padding: 1rem;
}

.navbar {
    margin: 0 0 2rem 0;
}

.footer {
    background-color: #556271;
    color: white;
    text-align: center;
}

.blogbody {
    margin: 0 10% 100px 10%;
    min-height: 100%;
}